body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    display: flex;
    justify-content: center;

}

.container {
    border: black solid;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
    background-color: darkgray;
    color:white;

  
}
